<body><center>
<h3><%= @item[:name] %></h3>
<p><%= @item[:quantity] %></p>
<p><%= @item[:bricks] %></p>

<br>
<a href="/items/<%= @i%>/edit">Edit</a>
<a href="/items/<%= @i %>/delete">[Delete]</a>
<a href="/items">[Index]</a>
</body></center>
